doctype html
html(lang="en")
	head
		title Restaurant
		link(rel="stylesheet" href="css/main.css" type='text/css')
body
	include ./header
	
	main
		#message
			h1 Hello!
			p Click on one of the options in the header to get started